html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.svg {
  overflow-x: scroll;
}

.container {
  display: flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  height: calc(100% - 150px);
}

.inputs, .svg {
  overflow-y: scroll;
  width: 50%;
}
